@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1 {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    p {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }
    table {
        margin: 0 auto;
        border-collapse: collapse;
        width: 50%;
        max-width: 600px;
    }
    td {
        padding: 15px;
        font-size: 1.1rem;
        border: 1px solid #ccc;
        background: #fff;
        text-align: center;
    }
    td:hover {
        background: #f0f0f0;
    }
    footer {
        margin-top: 20px;
        font-size: 1rem;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome to our Hospital</h1>
    <p>
        Thank you for choosing our hospital for your healthcare needs. <br>
        Here, we strive to provide the highest quality medical care to our patients.
    </p>
    <table>
        <tr>
            <td>Internal Medicine</td>
        </tr>
        <tr>
            <td>Pediatrics</td>
        </tr>
        <tr>
            <td>Surgery</td>
        </tr>
    </table>
    <p>
        If you have any questions or need assistance, please don’t hesitate to contact us.
    </p>
</div>
