<h1>Book Appointment</h1>
@{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <div class="card" style="height: 100%">
                    <div style="height:100%">
                        <img src="~/images/@item.Img" class="card-img-top" height="100%" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Specialization: @item.Specialization </p>
                        <a href="http://localhost:5062/Doctors/CompleteAppointment/@item.Id" class="btn btn-primary">Book Appointment</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
